@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background: #ffffff;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
